.road {
    fill: none;
    stroke: #E5E5E5;
    stroke-width: 1px;
}

.road-primary {
    fill: none;
    stroke: #E5E5E5;
    stroke-width: 1.3px;
}

.road-freeway {
    fill: none;
    stroke: #E5E5E5;
    stroke-width: 1.6px;
}

.road-tollway {
    fill: none;
    stroke: #E5E5E5;
    stroke-width: 2px;
}


.borough {
    fill: #E6EEF5;
    stroke: #CADEEA;
    stroke-width: 1px;
}

.background {
    fill: #7591A4;
}
