/*  #cddce0 */
/* #E6EEF5 */
.road {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.road-primary {
    fill: none;
    stroke: #fff;
    stroke-width: 1.3px;
}

.road-freeway {
    fill: none;
    stroke: #fff;
    stroke-width: 1.6px;
}

.road-tollway {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
}


.borough {
    fill: #c8dded;
    stroke: #CADEEA;
    stroke-width: 1px;
}

.park {
    fill: #8BCDFF;
    stroke: #45667F;
    stroke-width: 0.8px;
}

.background {
    fill: #7897b5;
}
