.road-minor {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 0.4;
}

.road {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 0.8;
}

.boundary {
    fill: #c8dded;
    stroke: #CADEEA;
    stroke-width: 1px;
}

.park {
    fill: #8BCDFF;
    stroke: #45667F;
    stroke-width: 0.8px;
}

.background {
    fill: #7897b5;
}

/* General Event Stylings */

g.event:hover {
    cursor: pointer;
}

/* Event Icons Styles */

g.event-icon circle {
    stroke: #ff3171;
    fill: #ff3171;
}

/* PlayAll Styles */

g.playall circle {
    stroke: #ff3171;
    fill: #ff3171;
}

g.playall:hover {
    cursor: pointer;
    text-decoration: underline;
    fill: #ff3171;
    text-decoration-color: #ff3171;
}

g.playall text {
    font-size: 20px;
    font-family: OratorStd;
    font-weight: 800;
    fill: #ff3171;
}

/* Event Circle Styles */



/* Event Tooltip Styles */

.event-tooltip {
	font-size: 12px;
    font-family: OratorStd;
    font-weight: 600;

    background-color: #fdee20;
    border-color: #fdee20;
    border-width: 0px;
}

/* Legend (and Event Circle) Styles */

g.legend rect.legend-box {
    fill: #fff;
    opacity: 0.8;
}

g.legend rect.eardrum, g.event-circle circle.eardrum {
    fill: #000;
    opacity: 0.8;
}

g.legend rect.major, g.event-circle circle.major {
    fill: #ff0000;
    opacity: 0.5;
}

g.legend rect.minor, g.event-circle circle.minor {
    fill: #ff0000;
    opacity: 0.4;
}

g.event-circle circle.hear {
    fill: #ff0000;
    opacity: 0.2;
}

g.legend rect.hear {
    fill: #ff0000;
    opacity: 0.25;
}

g.legend text {
    font-size: 10px;
    font-family: OratorStd;
    font-weight: 800;
}

g.legend text.accuracy {
    font-size: 10px;
    font-weight: 800;
}

/* Miscellaneous Styles */

.balloon {
    stroke: #ff0000;
    stroke-width: 1.5px;
    fill: none;
}
